.center-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 4rem 2rem; */
  max-width: calc(var(--cell-max-width) * 24);
  margin: 0 auto;
}

.center-text-title {
  color: var(--text-color);
}

.center-text-description {
 padding: 0 5rem;
 padding-bottom: 5rem;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .center-text-section {
    padding: 1.5rem 1rem;
  }

  .center-text-title {
    font-size: 1.25rem; /* Smaller font size for mobile */
  }

  .center-text-description {
    padding: 0 1rem;
    font-size: 0.9rem; /* Slightly smaller text for compactness */
  }

}
