.center-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: calc(var(--cell-max-width) * 24);
  margin: 0 auto;
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
}
.center-text-section-clemo{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: calc(var(--cell-max-width) * 24);
  margin: 0 auto;
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
}

.center-text-title {
  color: var(--text-color);
}

.center-text-description {
 padding: 0 5rem;
 padding-bottom: 5rem;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clemo-center-title{
  padding-bottom: 3rem;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .center-text-section {
    padding: 1.5rem 1rem;
  }

  .center-text-title {
    font-size: 1.25rem; /* Smaller font size for mobile */
  }

  .center-text-description {
    padding: 0 1rem;
    font-size: 0.9rem; /* Slightly smaller text for compactness */
  }

}
