.whychoose-section {
  background-color: var(--background-color);
  padding: 50px 0;
  text-align: center;
  position: relative;
  width: 100%;
  /* height: 1000px; */
}

.whychoose-section-title {
font-size: 2.5em;
  margin-bottom: 15px;
}

.main {
  color: var(--dark-background-color);
}

.highlight {
  color: var(--button-color);
}

.whychoose-section-description {
  color: var(--primary-color);
  margin-bottom: 40px;
}

.whychoose-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.whychoose-item {
  text-align: center;
  color:  var(--primary-color);
}

.whychoose-item i {
  font-size: 2em;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.whychoose-item h3 {
  font-size: 1.5em;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.whychoose-item p {
  color: var(--primary-color);
  font-size: 16px;
}

.whychoose-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px auto;
  border-radius: 12px;
}

.whychoose-section {
  flex: 1 1 100%; /* Ensure each section takes the full width */
  border-radius: 12px;
  padding: 50px 20px;
  /* background-color: var(--background-color); */
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.whychoose-section h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}

.whychoose-list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.whychoose-item {
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 100%; /* Ensures items stack on top of each other */
  box-sizing: border-box;
  transition: transform 0.3s;
  max-width: 100%;
}

.whychoose-list-item-title{
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--dark-background-color);
}

.whychoose-list-item-description{
  font-weight: bold;
  font-size: 1rem;
  color: var(--text-color);
}

.whychoose-item:hover {
  transform: translateY(-10px);
}

.whychoose-item h3 {
  font-size: 1.5em;
  color: var(--text-color);
  margin: 0;
}


@media (min-width: 1024px) {
  .whychoose-item {
    flex: 1 1 calc(33.333% - 20px); /* Three items per row on desktop */
    max-width: calc(33.333% - 20px);
  }
}

@media (max-width: 768px) {
  .whychoose-item {
    flex: 1 1 calc(50% - 20px); /* Two items per row on tablets */
    max-width: calc(50% - 20px);
  }

  .whychoose-section {
    flex: 1 1 100%;
    min-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .whychoose-item {
    flex: 1 1 100%; /* One item per row on mobile */
    max-width: 100%;
  }

  .whychoose-section {
    min-width: 100%;
  }
}
