<div *ngIf="business">
  <div class="hero-about">
    <div class="hero-overlay">
      <h1>About Us</h1>
    </div>
  </div>

  <div class="container">
    <section class="business-story">
      <h2>Our Story</h2>
      <div [innerHTML]="business.businessStory"></div>
    </section>

    <section class="mission-vision">
      <div class="mission">
        <img [src]="business.lifestyleImages"/>
        <h2>Our Mission</h2>
        <div [innerHTML]="business.mission"></div>
      </div>
      <div class="vision">
        <img [src]="business.facilityImages"/>
        <h2>Our Vision</h2>
        <div [innerHTML]="business.vision"></div>
      </div>
    </section>
    <section class="business-team">
      <app-meet-the-team [businessId]="business.id"></app-meet-the-team>
    </section>
  </div>
</div>
