<form [formGroup]="form">
  <h2>Sections</h2>
  <button (click)="addSection()" class="afhBtn">+ Add Section</button>
  <div formArrayName="sections">
    <div
      *ngFor="let section of sections.controls; let i = index"
      [formGroupName]="i"
      class="sectionForm-container"
    >
      <h3>Section {{ i + 1 }}  <label class="sectionName">{{ section.get("sectionName")?.value }}</label> </h3>
      <button (click)="toggleSection(i)" class="icon-btn">
        <i
          class="fa-solid"
          [ngClass]="collapsedSections[i] ? 'fa-angles-down' : 'fa-angles-up'"
        ></i>
      </button>

      <div [ngClass]="{ collapsed: collapsedSections[i] }">
        <!-- Row 1: Page, Location, Section Type on the same row -->
        <div class="row">
          <div class="col">
            <label>Page</label>
            <select formControlName="page" class="form-control">
              <option *ngFor="let p of pages" [value]="p">{{ p }}</option>
            </select>
          </div>

          <div class="col">
            <label>Location</label>
            <select formControlName="location" class="form-control">
              <option *ngFor="let loc of locations" [value]="loc">
                {{ loc }}
              </option>
            </select>
          </div>

          <div class="col">
            <label>Section Type</label>
            <select formControlName="sectionType" class="form-control">
              <option *ngFor="let type of sectionTypes" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>
        </div>

        <!-- Row 2: Title and Subtitle on the same row -->
        <div class="row">
          <div class="col">
            <label>Title</label>
            <input formControlName="sectionTitle" class="form-control" />
          </div>

          <div class="col">
            <label>Subtitle</label>
            <input formControlName="sectionSubTitle" class="form-control" />
          </div>
        </div>

        <!-- Content and Image Selection -->
        <label>Content</label>
        <textarea
          formControlName="sectionContent"
          class="form-control"
        ></textarea>

        <label>Choose an Image</label>
        <div class="image-selection-container">
          <div *ngFor="let image of predefinedImages" class="image-selection">
            <input
              type="radio"
              formControlName="sectionImageUrl"
              [value]="image.url"
            />
            <img [src]="image.url" class="contactUsImagesThumbnails" />
          </div>
        </div>

        <button (click)="updateSection(i)" class="afhBtn">Update</button>
        <button (click)="removeSection(i)" class="afhBtn delete-btn">
          Delete
        </button>
      </div>
    </div>
  </div>


  <h2>Unique Features</h2>
  <button type="button" class="afhBtn" (click)="toggleUniqueServiceForm()">
   + Add Unique Service
  </button>

  <div *ngIf="showUniqueServiceForm">
    <div [formGroup]="newUniqueServiceForm">
      <input
        formControlName="name"
        class="form-control"
        placeholder="Unique Service Name"
      />
      <input
        formControlName="description"
        class="form-control"
        placeholder="Unique Service Description"
      />
    </div>
    <button type="button" class="afhBtn" (click)="addUniqueService()">
      Save Unique Service
    </button>
  </div>

  <ul>
    <li *ngFor="let us of uniqueServices.controls; let i = index">
      <button type="button" class="icon-btn delete-btn" (click)="removeUniqueService(i)">
        <i class="fa-solid fa-trash-can"></i>
      </button>
      <strong>{{ us.get("name")?.value }}</strong
      ><br />
      {{ us.get("description")?.value }}
    </li>
  </ul>

  <h2>Why Us Reasons</h2>
  <button type="button" class="afhBtn" (click)="toggleWhyChooseForm()">
   + Add Why Choose Us Reason
  </button>

  <div *ngIf="showWhyChooseForm">
    <div [formGroup]="newWhyChooseForm">
      <input
        formControlName="name"
        class="form-control"
        placeholder="Reason Name"
      />
      <input
        formControlName="description"
        class="form-control"
        placeholder="Reason Description"
      />
    </div>
    <button type="button" class="afhBtn" (click)="addWhyChoose()">
      Save Reason
    </button>
  </div>

  <ul>
    <li *ngFor="let why of whyChoose.controls; let i = index">
      <button type="button" class="icon-btn delete-btn" (click)="removeWhyChoose(i)">
        <i class="fa-solid fa-trash-can"></i>
      </button>
      <strong>{{ why.get("name")?.value }}</strong
      ><br />
      {{ why.get("description")?.value }}
    </li>
  </ul>

  <h2>Certifications</h2>
  <div class="form-group">
    <label for="certifications">Certifications</label>
    <textarea
      id="certifications"
      formControlName="certifications"
      class="form-control"
    ></textarea>
  </div>
</form>
