h1 {
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  border-bottom: 2px solid #343a40; /* Dark gray underline for section headings */
  color: #343a40; /* Match with active tab color */
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contactUsImagesThumbnails {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
