h1 {
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  border-bottom: 2px solid #343a40; /* Dark gray underline for section headings */
  color: #343a40; /* Match with active tab color */
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contactUsImagesThumbnails {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image-selection{
  display: inline-block;
  margin-right: 10px;
}

.sectionForm-container
{
  border: solid 1px var(--dark-background-color);
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
}

.sectionForm-header{
  display: flex;
  justify-content: space-between; /* Pushes items to the far ends */
  align-items: center; /* Aligns items vertically */
  width: 100%;
}


.sectionForm-header-item{
  width: 50%;
  padding: 10px;
}


.collapsed {
  display: none;
}

.toggle-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
