.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--dark-background-color);
  color: var(--primary-color);
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content span {
  display: inline-block;
  margin: 0 10px;
}

a
{
  color: var(--primary-color);
}
