<div [ngSwitch]="layoutType">
  <ng-container *ngSwitchCase="'hh'">
<footer class="footer">
  <div class="footer-content">
    <h2 class="footer-title">{{business?.businessName}}</h2>
    <hr class="footer-divider" />
    <div class="footer-info">
      <div class="footer-column">
        <h3 class="footer-column-title">Location:</h3>
        <address>
          {{ business?.address }}
        </address>
      </div>
      <div class="footer-column">
        <h3 class="footer-column-title">Provider:{{business?.providerName}}</h3>
        <p>Email: <a href="mailto:{{business?.email}}"> {{ business?.email }}</a></p>
        <p>Phone: <a href="tel:+{{business?.phone}}">{{business?.phone}}</a></p>
      </div>
      <div class="footer-column">
        <h3 class="footer-column-title">Resident Manager:{{business?.providerName}}</h3>
        <p>Email: <a href="mailto:{{business?.email}}"> {{ business?.email }}</a></p>
        <p>Phone: <a href="tel:+{{business?.phone}}">{{business?.phone}}</a></p>
      </div>
    </div>
  </div>
</footer>
</ng-container>

<ng-container *ngSwitchCase="'ae'">
  <footer class="ae-footer">
    <div class="ae-footer-content">
      <h2 class="ae-footer-title">{{ business?.businessName }}</h2>
      <hr class="ae-footer-divider" />

      <div class="footer-info">
        <!-- Location Column -->
        <div class="ae-footer-column">
          <h3 class="ae-footer-column-title">Location:</h3>
          <address>{{ business?.address }}</address>
        </div>

        <!-- Provider Column -->
        <div class="ae-footer-column">
          <h3 class="ae-footer-column-title">Provider: </h3>{{ business?.providerName }}
          <p>Email: <a href="mailto:{{ business?.email }}">{{ business?.email }}</a></p>
          <p>Phone: <a href="tel:+{{ business?.phone }}">{{ business?.phone }}</a></p>
        </div>

        <!-- Schedule Visit Button -->
        <div class="ae-footer-column">
          <button class="afhBtn garamond">Schedule a Visit</button>
        </div>
      </div>

      <div class="ae-footer-bottom">
        <p>© {{ 2024 }} {{ business?.businessName }}. All rights reserved.</p>
      </div>
    </div>
  </footer>

</ng-container>
</div>



<div *ngIf="isAuthenticated$ | async" class="footer-theme-file">
  <h1 class="debugger-title">Debugger:</h1>
  <div class="debugger-info">
    <div class="debugger-item">
      <span class="debugger-label">Theme File:</span>
      <span class="debugger-value">{{ themeFileName}}</span>
    </div>
    <div class="debugger-item">
      <span class="debugger-label">Business ID:</span>
      <span class="debugger-value">{{ business?.id }}</span>
    </div>
    <div class="debugger-item">
      <span class="debugger-label">Business Name:</span>
      <span class="debugger-value">{{ business?.businessName }}</span>
    </div>
  </div>
</div>
