<div *ngIf="business">
  <div class="hero-services">
    <div class="hero-overlay">
      <h1>Our Services</h1>
      <p>Providing exceptional care tailored to your needs</p>
    </div>
  </div>

  <div class="container">
    <section class="services-list">
      <img src="/assets/care.svg" alt="Service Icon"><h2>Our Comprehensive Services</h2>
      <ul  *ngFor="let service of business.services.split(',')">
        <li><h3>{{ service }}</h3></li>
      </ul>
    </section>

    <section class="services-list">
      <img src="/assets/care.svg" alt="Service Icon"><h2>Our Benefits</h2>
      <ul *ngFor="let service of business.serviceBenefits.split(',')">
         <li> <h3>{{ service }}</h3></li>
      </ul>
    </section>




    <section class="special-programs">
      <h2>Special Programs</h2>
      <p>{{ business.specialPrograms }}</p>
    </section>

    <section class="tours-consulting">
      <div class="tours">
        <h2>Tours</h2>
        <p>{{ business.tours }}</p>
      </div>
      <div class="consulting">
        <h2>Free Consulting</h2>
        <p>{{ business.freeConsulting }}</p>
      </div>
    </section>
  </div>
</div>
