.hero-services {
  background: url('../../../assets/sharedAssets/istockphoto-1335866199-2048x2048.jpg') no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.services-list {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.service-item {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
  margin-top: 0;
}

.special-programs, .tours-consulting {
  background: #f9f9f9;
  padding: 50px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.tours-consulting {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between the sections if needed */
}

.tours, .consulting {
  flex: 1;
  margin-right: 40px;
}

.tours:last-child, .consulting:last-child {
  margin-right: 0;
}

.service-item {
  display: flex;
  align-items: center;
}

.service-icon {
  flex: 0 0 50px;
  margin-right: 20px;
}

.service-content {
  flex: 1;
}
/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.services-page {
  text-align: center;
}

.service_image{
  max-width: 500px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .service-item {
    flex: 1 1 calc(50% - 20px);
  }
  .tours-consulting {
    flex-direction: column;
  }

  .tours,
  .consulting {
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  .service-item {
    flex: 1 1 100%;
  }

  .hero h1 {
    font-size: 2em;
  }
  .tours-consulting {
    flex-direction: column;
  }

  .tours,
  .consulting {
    min-width: 100%;
  }
}
