<div *ngIf="business">
  <div class="hero-services">
    <div class="hero-overlay">
      <h1>Our Services</h1>
      <div class="hero-subtitle">
      <p>Providing exceptional care tailored to your needs</p>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="services-list">
      <img src="/assets/care.svg" alt="Service Icon"><h2>Our Comprehensive Services</h2>
      <ul >
        <li  *ngFor="let service of business.services"><h3>{{ service.name }}</h3></li>
      </ul>
    </section>

    <section class="services-list">
      <img src="/assets/care.svg" alt="Service Icon"><h2>Our Benefits</h2>
      <ul >
         <li *ngFor="let benefit of business.benefits"> <h3>{{ benefit.name }}</h3></li>
      </ul>
    </section>




    <section class="special-programs">
      <h2>Special Programs</h2>
      <h3>{{ business.specialPrograms }}</h3>
    </section>

    <section class="tours-consulting">
      <div class="tours">
        <img class="service_image" src="../../../assets/sharedAssets/image_fx_ (3).jpg">
        <div class="heading-container">
          <h2 class="styled-heading">Tours</h2>
        </div>
       <div class="services_txt garamond" [innerHTML]=" business.tours"></div>
      </div>
      <div class="consulting">
        <img class="service_image" src="../../../assets/sharedAssets/image_fx_ (1).jpg">
        <div class="heading-container">
          <h2 class="styled-heading">Free Consulting</h2>
        </div>
        <div class="services_txt garamond " [innerHTML]=" business.freeConsulting"></div>
      </div>
    </section>
  </div>
  <div class="cta-section services-cta">
    <div class="cta-content">
      <h2>Ready to Experience Exceptional Care?</h2>
      <p>Schedule a free consultation today and let’s discuss how we can meet your needs with our personalized services.</p>
      <button class="cta-btn" (click)="navigateToContact(business.id)">Book a Consultation</button>
    </div>
  </div>
</div>
