<section class="services-section">
  <div class="section-heading">
    <span class="section-title-main">Our Unique </span>
    <span class="section-title-highlight"> Features</span>
  </div>
  <p class="section-description">
    What sets us appart.
  </p>

    <div class="features-section">

      <div class="feature-list">
        <div *ngFor="let feature of business.uniqueService" class="feature-item">
          <div class="feature-list-item-title" [innerHTML]="feature.name"></div>
          <div class="feature-list-item-description" [innerHTML]="feature.description"></div>
        </div>
    </div>
  </div>
</section>
