<section class="features-section">
  <div class="features-section-heading">
    <span class="features-section-title main">Our Unique </span>
    <span class="features-section-title highlight"> Features</span>
  </div>
  <p class="features-section-description">
    What sets us appart.
  </p>

    <div class="features-section">

      <div class="feature-list">
        <div *ngFor="let feature of uniqueService" class="feature-item">
          <div class="feature-list-item-title" [innerHTML]="feature.name"></div>
          <div class="feature-list-item-description" [innerHTML]="feature.description"></div>
        </div>
    </div>
  </div>
</section>
