<div *ngIf="business">
  <div [ngSwitch]="business.theme.themeType">
    <ng-container *ngSwitchCase="'hh'">
      <div class="hero-services">
        <div class="hero-overlay">
          <h1>Our Services</h1>
          <div class="hero-subtitle">
            <p>Providing exceptional care tailored to your needs</p>
          </div>
        </div>
      </div>

      <div class="container">
        <section class="services-list">
          <img src="/assets/care.svg" alt="Service Icon">
          <h2>Our Comprehensive Services</h2>
          <ul>
            <li *ngFor="let service of business.services">
              <h3>{{ service.name }}</h3>
            </li>
          </ul>
        </section>

        <section class="services-list">
          <img src="/assets/care.svg" alt="Service Icon">
          <h2>Our Benefits</h2>
          <ul>
            <li *ngFor="let benefit of business.benefits">
              <h3>{{ benefit.name }}</h3>
            </li>
          </ul>
        </section>




        <section class="special-programs">
          <h2>Special Programs</h2>
          <h3>{{ business.specialPrograms }}</h3>
        </section>

        <section class="tours-consulting">
          <div class="tours">
            <img class="service_image" src="../../../assets/sharedAssets/image_fx_ (3).jpg">
            <div class="heading-container">
              <h2 class="styled-heading">Tours</h2>
            </div>
            <div class="services_txt garamond" [innerHTML]=" business.tours"></div>
          </div>
          <div class="consulting">
            <img class="service_image" src="../../../assets/sharedAssets/image_fx_ (1).jpg">
            <div class="heading-container">
              <h2 class="styled-heading">Free Consulting</h2>
            </div>
            <div class="services_txt garamond " [innerHTML]=" business.freeConsulting"></div>
          </div>
        </section>
      </div>
      <div class="cta-section services-cta">
        <div class="cta-content">
          <h2>Ready to Experience Exceptional Care?</h2>
          <p>Schedule a free consultation today and let’s discuss how we can meet your needs with our personalized
            services.</p>
          <button type="button" class="afhBtn" (click)="navigateToContact()">Book a Consultation</button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'ae'">
      <app-hero></app-hero>
      <div class="content-wrapper">

        <app-item-list [layoutType]="business.theme.themeType" [services]="[
        {
          icon: 'fas fa-person-cane',
          title: 'Mobility Assistance',
          description:
            'Gentle, reliable support to help residents move safely and confidently, enhancing independence and comfort in their daily lives'
        },
        {
          icon: 'fas fa-people-group',
          title: 'Companionship Care',
          description:
            'We provide 24-hour care and close supervision, ensuring residents receive attentive, around-the-clock support for their safety and well-being.'
        },
        {
          icon: 'fas fa-bowl-food',
          title: 'Meal Planning',
          description:
            '3 delicious homemade cooked meals with snacks available, dietary accommodations per doctor orders and preferences.'
        },
        {
          icon: 'fas fa-prescription-bottle',
          title: 'Medication',
          description:
            '24-hour medication administration, management, and reminders to ensure residents receive their medications safely and on time.'
        },
        {
          icon: 'fas fa-shower',
          title: 'Personal Hygiene',
          description:
            'All inclusive personal care including: bathing, grooming, laundry, incontinence support etc. Also available: hair styling, manicure, pedicure, podiatrist.'
        },
        {
          icon: 'fas fa-bed-pulse',
          title: 'Medical Care',
          description:
            'All the necessary care for Aging In Place. Able to provide a High Level of Care, including Diabetic Care.'
        }
      ]"></app-item-list>

        <app-testimonial-image [imageURL]="'../../../../assets/sharedAssets/istockphoto-1453597643-2048x2048.jpg'"
          [author]="business.testimonials[1].name" [text]="business.testimonials[1].quote"></app-testimonial-image>

        <app-call-to-action [text]="'Have more questions?'" [buttonText]="'Contact Us'" [isButton]="true"
          [bgColor]="business.theme.primaryColor" [textColor]="business.theme.textColor">
        </app-call-to-action>
      </div>
    </ng-container>
  </div>
