<div *ngIf="business">
  <div [ngSwitch]="business.theme.themeType">
    <ng-container *ngSwitchCase="'hh'">
      <div class="hero-services">
        <div class="page-hero-overlay">
          <h1>Our Services</h1>
          <div class="hero-subtitle">
            <p>Providing exceptional care tailored to your needs</p>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'ae'">
      <app-hero></app-hero>
    </ng-container>

    <ng-container *ngSwitchCase="'clemo'">
      <app-hero [layoutType]="'clemo'"></app-hero>
    </ng-container>

    <ng-container *ngSwitchCase="'sb' ">
      <app-hero [layoutType]="'sb'"></app-hero>
      </ng-container>

    <ng-container *ngSwitchCase="'prestige'">
      <app-hero [layoutType]="'prestige'"></app-hero>
    </ng-container>
  </div>


  <div *ngIf="business.theme.themeType!='prestige'" class="aboutus-page-main-container">
    <div class="container text-section" #dynamicContainer></div>
  </div>
  <div *ngIf="business.theme.themeType=='prestige'" class="aboutus-page-main-container">
    <div class="" #dynamicContainer></div>
  </div>


  <div [ngSwitch]="business.theme.themeType">
  <ng-container *ngSwitchCase="'ae'">
    <app-testimonial-image
      [imageURL]="
        '../../../../assets/sharedAssets/istockphoto-480743801-2048x2048.jpg'
      "
      [author]="business.testimonials[1].name || ''"
      [text]="business.testimonials[1].quote || ''"
    ></app-testimonial-image>
  </ng-container>
  </div>
  <!-- <div class="cta-section services-cta">
    <div class="cta-content">
      <h2>Ready to Experience Exceptional Care?</h2>
      <p>
        Schedule a free consultation today and let’s discuss how we can meet
        your needs with our personalized services.
      </p>
      <button type="button" class="afhBtn" (click)="navigateToContact()">
        Book a Consultation
      </button>
    </div>
  </div> -->

<div *ngIf="business.theme.themeType=='prestige'">
  <section class="testimonials-section">
    <div class="heading-container">
        <h2 class="styled-heading">Testimonials</h2>
    </div>
    <div class="testimonial">
        <div class="quote-icon">“</div>
        <p>"Great experience as always! Friendly, excellent communication, quality tuning."</p>
        <h4>Amy G.</h4>
    </div>
    <div class="testimonial">
        <div class="quote-icon">“</div>
        <p>"Great service. Friendly staff, and piano always sounds like new after tuning."</p>
        <h4>Jesse A.</h4>
    </div>
    <div class="testimonial">
        <div class="quote-icon">“</div>
        <p>"Great, friendly, professional, thorough service. Great communication."</p>
        <h4>Brian S.</h4>
    </div>
    <div class="testimonial">
        <div class="quote-icon">“</div>
        <p>"You can trust these guys. I will recommend them to anyone and use them again."</p>
        <h4>Colin B.</h4>
    </div>
  </section>
</div>


<!--

  <div [ngSwitch]="business.theme.themeType">
    <ng-container *ngSwitchCase="'sb'">
      <app-call-to-action
      title="Are you ready to see your new website?"
      content="We’d love to meet you! Schedule a consultation to discuss your new website."
      buttonText="Schedule A Consultation"
      [isButton]="true"
      bgColor="#72b7de"
      textColor="var(--text-color)"
      titleColor="#253945"
      contentColor="var(--secondary-color)"
      buttonBgColor="var(--button-color)"
      buttonTextColor="var(--button-text-color)"
      borderRadius="0px"
      boxShadow="0px 6px 10px rgba(0,0,0,0.3)"
      layout="centered"
      page="contact-us"
      [businessId] ="business.id"
    ></app-call-to-action>
      </ng-container>
      <ng-container *ngSwitchDefault >
        <app-call-to-action
        title="Ready to Experience Exceptional Care?"
        content=" Schedule a free consultation today and let’s discuss how we can meet
        your needs with our personalized services."
        buttonText="Book a Consultation"
        [isButton]="true"
        bgColor="var(--background-color)"
        textColor="var(--text-color)"
        titleColor="var(--accent-color)"
        contentColor="var(--dark-background-color)"
        buttonBgColor="var(--button-color)"
        buttonTextColor="var(--button-text-color)"
        borderRadius="0px"
        boxShadow="0px 6px 10px rgba(0,0,0,0.3)"
        layout="full-width"
        page="contact-us"
        [businessId] ="business.id"
      ></app-call-to-action>
    </ng-container>
    </div> -->


</div>
