.testimonial-comp {
  padding: 50px 0;
}

.testimonial {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: var(--background-color);
  gap: 50px;
}

.testimonial-heading {
  width: 100%;
  text-align: center;
}

.testimonial-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  gap: 30px;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  .testimonial {
    flex-direction: column; /* Stack testimonials vertically */
    padding: 20px;
    gap: 20px;
  }

  .testimonial-container {
    flex-direction: column; /* Stack content vertically within each testimonial */
    text-align: center;
    gap: 20px;
  }

  .testimonial-image img {
    width: 150px;
    height: 150px;
  }

  .testimonial-content {
    width: 100%;
  }

  .testimonial-content p {
    font-size: 1rem;
  }

  .testimonial-content strong {
    font-size: 1.2rem;
  }
}

/* Adjust for extra small screens */
@media (max-width: 480px) {
  .testimonial {
    flex-direction: column; /* Stack testimonials vertically */
    padding: 10px;
    gap: 10px;
  }

  .testimonial-container {
    padding: 10px;
    flex-direction: column; /* Stack content vertically within each testimonial */
    gap: 15px;
  }

  .testimonial-image img {
    width: 120px;
    height: 120px;
  }

  .testimonial-content p {
    font-size: 0.9rem;
  }

  .testimonial-content strong {
    font-size: 1rem;
  }
}

.testimonial-image {
  position: relative;
  width: 200px;
  height: 200px;
}

.testimonial-image img {
  width: 100%;
  height: 100%;
  border-radius: 25%;
}

.testimonial-content {
  max-width: 300px;
}

.testimonial-content p {
  color: var(--text-color);
  line-height: 1.7;
}

.testimonial-content strong {
  font-size: 1.5rem;
  color: var(--accent-color);
}
