
<div [ngSwitch]="layoutType">
  <ng-container *ngSwitchCase="'hh'">
<section class="testimonial-comp">
  <div class="testimonial-heading">
    <div class="testimonial-section-heading">Testimonials</div>
  </div>
  <div class="testimonial">
    <div class="testimonial-container" *ngFor="let testimonial of testimonials">
      <div class="testimonial-image">
        <img src="{{ testimonial.photoURL }}" alt="{{ testimonial.name }}" />
      </div>
      <div>
        <div class="testimonial-content garamond">
          <div class="">
            <p>" {{ testimonial.quote }} "</p>
            <strong>{{ testimonial.name }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  </ng-container>


  <ng-container *ngSwitchCase="'ae'">
    <section class="testimonial-comp">
      <div class="testimonial-heading">
        <h2 class="testimonial-section-heading">Testimonials</h2>
      </div>
      <div class="testimonial-grid">
        <div class="testimonial-card" *ngFor="let testimonial of testimonials">
          <div class="testimonial-content garamond">
            <p class="testimonial-quote">"{{ testimonial.quote }}"</p>
            <p class="testimonial-author"><strong>{{ testimonial.name }}</strong></p>
          </div>
        </div>
      </div>
    </section>

    </ng-container>

    </div>
