<div class="testimonial-heading"><h2>Testimonials</h2></div>
<section class="testimonial" >

  <div class="testimonial-container" *ngFor="let testimonial of testimonials">
    <div class="testimonial-image">
      <img src="{{testimonial.photoURL}}" alt="{{testimonial.name}}">
    </div>
    <div >
      <div class="testimonial-content">

        <div class="">
          <p>" {{testimonial.quote}} "</p>
          <strong>{{testimonial.name}}</strong>
        </div>
      </div>
    </div>
  </div>
</section>
