.testimonial {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #f7f7f7;
  gap: 50px;
}

.testimonial-heading{
  width: 100%;
  text-align: center;
}

.testimonial-container {
  display: flex;
  max-width: 1200px;
  gap: 30px;
  align-items: center;
}

.testimonial-image {
  position: relative;
  width: 200px;
  height: 200px;

}

.testimonial-image img {
  width: 200px;
  height: 200px;
  border-radius: 25%;
}

.testimonial-info {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.testimonial-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-info p {
  margin: 0;
  font-size: 16px;
}

.testimonial-info span {
  display: block;
  font-size: 12px;
  color: #888;
}

.testimonial-content {
  width: 300px;
}

.testimonial-content h3 {
  color:  var(--accent-color);
  font-size: 18px;
  font-weight: 600;
}

.testimonial-content h1 {
  font-size: 42px;
  color: #3a4b5c;
  margin: 10px 0;
}

.testimonial-content p {
  font-size: 16px;
  color: #666;
  line-height: 1.7;
}

.mission-vision {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.mission-vision a {
  font-size: 16px;
  font-weight: 600;
  color: #3a4b5c;
  text-decoration: none;
}

.mission-vision a:hover {
  text-decoration: underline;
}

.learn-more {
  background-color: var(--accent-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.learn-more:hover {
  background-color: var(--accent-color);
}
