/* General styling */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  border-bottom: 2px solid #343a40;
  color: #343a40;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* For section name */
.sectionName {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Row layout using flexbox */
.row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

.col {
  flex: 1;
}

.sectionForm-container {
  border: solid 1px var(--dark-background-color);
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
}

.sectionForm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sectionForm-header-item {
  width: 50%;
  padding: 10px;
}

.collapsed {
  display: none;
}

.toggle-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #007bff;
}

.delete-btn {
  color: red;
}

.contactUsImagesThumbnails {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* For image selection */
.image-selection {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Container for the images to allow wrapping */
.image-selection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
