
.carousel-item {
  display: none;
  position: relative;
  width: 100%;
  transition: transform 0.6s ease-in-out;
}

.carousel-item.active {
  display: block;
}

#heroCarousel {
  position: relative;
}

.carousel-item {
  position: relative;
  height: 800px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top:0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(249, 241, 214, 0.1);
  color:  var(--primary-color);
}

.hero-overlay h1 {

padding-top: 200px;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.business-subtitle{
  padding: 20px;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.action-btn{
padding: 20px;
background-color: var(--button-color);
font-size: 1.4rem;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: none;
  border: solid white;
  border-width: 0 6px 6px 0;
}

.carousel-control-prev-icon {
  transform: rotate(135deg);
}

.carousel-control-next-icon {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .hero-overlay h1 {
    font-size: 2rem;
  }

  .hero-overlay p {
    font-size: 1rem;
  }

  .carousel-item {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .hero-overlay {
    padding: 10px;
  }

  .hero-overlay h1 {
    font-size: 1.5rem;
  }

  .hero-overlay p {
    font-size: 0.875rem;
  }

  .carousel-item {
    height: 200px;
  }
}
.carousel {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 50px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border: 0;
  border-radius: 0;
}

.carousel-indicators .active {
  background-color: #fff;
}
/*--------------------Carousel AE ----------------*/
.ae-hero-section {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  height: 90vh;
}

.ae-carousel-item img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.ae-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(42, 56, 35, 0.8), rgba(66, 99, 51, 0.0),rgba(66, 99, 51, 0.0));
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: center;
  color: white;
  padding-left: 10%; /* Add some padding to align text from the left */
}

.ae-carousel-caption {
  text-align: left; /* Align text to the left */
}

.ae-h1 {
  /* font-size: 4rem; */
  line-height: 1.2;
  margin-bottom: 10px;
  position: absolute;
  top:55%;
  text-align: left;
}

.ae-business-subtitle h3 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  position: absolute;
  top:75%;
  left: 10%;
  color:var(--primary-color);
}

.ae-brand-name {
  font-style: italic;
  color: var(--button-color);
}

.afhBtn{
  position: absolute;
  top:80%;
  left: 10%;
}


