

.services-section {
  text-align: center;
  padding: 2rem;
  max-width: calc(var(--cell-max-width) * 24); /* Sets max width based on 24 columns */
  margin: auto;
}


.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.service-item {
  /* background-color: #fff; */
  border-radius: 8px;
  padding: 2.5rem;
  text-align: center;
}

.services-item-icon {
  font-size: 50px;
  margin-bottom: 10px;
}


/* Responsive layout for smaller screens */
@media (max-width: 600px) {
  .services-grid {
      grid-template-columns: 1fr;
  }
}
