

.services-section {
  text-align: center;
  padding: 2rem;
  max-width: calc(var(--cell-max-width) * 24); /* Sets max width based on 24 columns */
  margin: auto;
}


.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.services-list {
  background-color:  var(--primary-color);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 40px;
}


.service-item {
  /* background-color: #fff; */
  border-radius: 8px;
  padding: 2.5rem;
  text-align: center;
}

.services-item-icon {
  font-size: 50px;
  margin-bottom: 10px;
}


/* Responsive layout for smaller screens */
@media (max-width: 600px) {
  .services-grid {
      grid-template-columns: 1fr;
  }
}



/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr; /* Single column for better readability */
  }

  .service-item {
    padding: 1.5rem; /* Reduce padding for compact display */
  }

  .services-item-icon {
    font-size: 40px; /* Slightly smaller icons for mobile */
  }
}

@media (max-width: 480px) {
  .services-section h2 {
    font-size: 1.5rem; /* Adjust section title font size for small screens */
    margin-bottom: 1rem;
  }

  .service-item h2 {
    font-size: 1.25rem; /* Reduce font size for service titles */
  }

  .service-item p {
    font-size: 1rem; /* Scale down service descriptions */
  }

}


.minimal-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.our-services-section {
  background-color: var(--dark-background-color);
  padding: 50px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

.our-services-title {
  font-size: 2.5em;
    margin-bottom: 15px;
  }

.our-services-title.main {
  color: var(--primary-color);
}

.our-services-title.highlight {
  color: var(--accent-color);
}

.our-services-description {
  color: var(--primary-color);
  margin-bottom: 40px;
}

.our-services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.our-services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  color: var(--primary-color);
  border-radius: 10px;
}

.our-services-item-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.our-services-item h3 {
  font-size: 1.5em;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.our-services-item i {
  font-size: 2em;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.our-services-item p {
  color: var(--primary-color);
  font-size: 16px;
  text-align: center;
}

.our-services-item-title {
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .our-services-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .our-services-item h3 {
    font-size: 1.2em;
  }

  .our-services-item p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .our-services-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .our-services-item {
    margin-bottom: 20px;
  }

  .our-services-item h3 {
    font-size: 1.1em;
  }

  .our-services-item p {
    font-size: 14px;
  }

  .our-services-item i {
    font-size: 1.8em;
  }
}

