.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  background: url('https://plus.unsplash.com/premium_photo-1661274147223-116687829d26?q=80&w=2673&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

.hero-overlay h1 {
  font-size: 3rem;
  margin: 0;
}

.hero-overlay p {
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.container {
  padding: 40px 20px;
}
/*
.features, .why-choose-us {
  margin: 40px 0;
}

.features h2, .why-choose-us h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.feature-list, .reasons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-item, .reason-item {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.feature-item h3, .reason-item h3 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.feature-item p, .reason-item p {
  font-size: 1rem;
  line-height: 1.5;
} */


.features-section {
  padding: 50px 20px;
  background: #f9f9f9;
  text-align: center;
}

.features-section h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  max-width: calc(33.333% - 20px);
  transition: transform 0.3s;
}

.feature-item:hover {
  transform: translateY(-10px);
}

.feature-item h3 {
  font-size: 1.5em;
  color: #007bff;
  margin: 0;
}

@media (max-width: 768px) {
  .feature-item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .feature-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
