<section class="right-text-section" *ngIf="themeType === 'hh'">
  <div class="image-container">
    <img src="{{ imageURL }}" alt="{{ title }}" />
  </div>
  <div class="text-container">
    <h2>{{ title }}</h2>
    <h4 [innerHTML]="sanitizedContent"></h4>
  </div>
</section>

<section
  class="content-container"
  *ngIf="
    themeType === 'clemo' ||
    themeType === 'ae' ||
    themeType === 'sb' ||
    themeType === 'sp'
  "
>
  <div class="content-area">
    <div class="row">
      <div class="left-image-container">
        <img src="{{ imageURL }}" alt="{{ title }}" />
      </div>
      <div class="text-container">
        <h3>{{ titleParts.part1 }}</h3>
        <h2 *ngIf="titleParts.part2">
          <span>{{ titleParts.part2 }}</span>
        </h2>
        <div class="separator2"></div>
        <p [innerHTML]="sanitizedContent">{{ content }}</p>
      </div>
    </div>
  </div>
</section>
