
<div [ngSwitch]="layoutType">
  <ng-container *ngSwitchCase="'hh'">
    <div class="welcome-info-container">
      <div class="welcome-overlay">
        <div class="welcome-content garamond">
          <h3>We Are <span class="brand-name">{{business.businessName}}</span></h3>
          <h1>{{business.welcomeMessage}}</h1>
          <p>{{business.keyServicesHighlights}}</p>
          <div class="buttons">
            <button type="button" class="afhBtn" (click)="navigateToContact()">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'ae'">
    <div class="content-wrapper">
      <app-center-text [title]="'Who We Are'" [content]="business.businessStory"></app-center-text>
    </div>
  </ng-container>
</div>
