<div [ngSwitch]="layoutType">
  <ng-container *ngSwitchCase="'hh'">
    <div class="welcome-info-container">
      <div class="welcome-overlay">
        <div class="welcome-content garamond">
          <h3>We Are <span class="brand-name">{{businessName}}</span></h3>
          <h1>{{welcomeMsg}}</h1>
          <p>{{keyServicesHighlights}}</p>
          <div class="buttons">
            <button type="button" class="afhBtn" (click)="navigateToContact()">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'ae'">
    <div class="welcome-info-container">
      <div class="welcome-section">
        <div class="text-content garamond">
          <h3>Welcome to <span class="brand-name">{{ businessName }}</span></h3>
          <h1>{{ welcomeMsg }}</h1>
          <p>{{ keyServicesHighlights }}</p>
          <button type="button" class="afhBtn" (click)="navigateToContact()">Schedule a Visit</button>
        </div>
        <div class="image-content">
          <img src="../../../assets/sharedAssets/istockphoto-1207318385-2048x2048.jpg" alt="Welcome Image" />
        </div>
      </div>
    </div>
  </ng-container>
</div>
