<div *ngIf="business">
  <div [ngSwitch]="business.theme.themeType">
    <ng-container *ngSwitchCase="'hh'">
  <div class="hero-about">
    <div class="hero-overlay">
      <h1>About Us</h1>
      <div class="hero-subtitle">
      <p>Where Compassion Meets Care: Your Loved Ones, Our Family.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="business-story">
      <div class="heading-container">
        <h2 class="styled-heading">Our Story</h2>
      </div>
      <div class="services_txt garamond" [innerHTML]="business.businessStory"></div>
    </section>

    <section class="mission-vision">
      <div class="mission">
        <img [src]="business.missionImageUrl || 'assets/sharedAssets/image_fx_(1).jpg'"
        alt="Contact Image" />
        <div class="heading-container">
          <h2 class="styled-heading">Our Mission</h2>
        </div>
        <div class="services_txt garamond" [innerHTML]="business.mission"></div>
      </div>
      <div class="vision">
        <img [src]="business.visionImageUrl || 'assets/sharedAssets/image_fx_(3).jpg'"
        alt="Contact Image" />
        <div class="heading-container">
          <h2 class="styled-heading">Our Vision</h2>
        </div>
        <div class="services_txt garamond" [innerHTML]="business.vision"></div>
      </div>
    </section>
    <section class="business-team">
      <app-meet-the-team [businessId]="business.id"></app-meet-the-team>
    </section>
  </div>

  <div class="cta-section about-cta">
    <div class="cta-content">
      <h2>Come Meet Our Family</h2>
      <p>We’d love to meet you! Schedule a visit and see firsthand how our caring environment feels like home.</p>
      <button class="cta-btn" (click)="navigateToContact(business.id)">Schedule a Visit</button>
    </div>
  </div>
    </ng-container>
    <ng-container *ngSwitchCase="'ae'">
      <app-hero></app-hero>
      <!-- <div class="ae-container">

        <div class="ae-content">


          <div class="ae-features-column">

            <div *ngFor="let feature of business.uniqueService"  class="ae-feature-item">
              <img src="../../../assets/sharedAssets/icons/bathroom.svg" alt="Non-Toxic" class="ae-icon">
              <h3>{{feature.name}}</h3>
              <p>{{feature.description}}</p>
            </div>
          </div>

          <div class="ae-image-text-column">
            <div class="ae-overlapping-images">
              <img src="../../../assets//sharedAssets/5388429572_df9a403081_k.jpg" alt="Environment Image 1" class="ae-image ae-image-top">
              <img src="../../../assets//sharedAssets/9676303919_32372bf834_o.jpg" alt="Environment Image 2" class="ae-image ae-image-bottom">
            </div>
            <div class="ae-large-text">
              <h2>Eco-Friendly Products Respecting the Environment</h2>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Our Approach Section -->
<section class="our-approach">
  <!-- First Row -->
  <div class="approach-row">
      <div class="approach-text">
          <h2 class="corben-regular">What We Stand For</h2>
          <p>{{business.mission}}</p>
      </div>
      <div class="approach-image">
          <img src="../../../assets//sharedAssets/5388429572_df9a403081_k.jpg"  alt="Therapy session">
      </div>
  </div>

  <!-- Second Row -->
  <div class="approach-row">
      <div class="approach-image">
          <img src="../../../assets//sharedAssets/9676303919_32372bf834_o.jpg"  alt="Woman working">
      </div>
      <div class="approach-text">
          <h2>The Future We See</h2>
          <p>{{business.vision}}</p>
          <button class="afhBtn">Learn More</button>
      </div>
  </div>
</section>

    </ng-container>
</div>
