<app-section-tilte [title]="'Video'"></app-section-tilte>
<div class="video-container">
  <!-- <video
    [src]="videoSource"
    [autoplay]="autoplay"
    [controls]="controls"
    [loop]="loop"
    [muted]="muted">
  </video> -->
  <iframe width="1024" height="560" src="https://www.youtube.com/embed/rVBHH5DwYFA?si=H-h0ymBehDKZAubx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
