:root{
  --primary-color: #fffaf2;
  --secondary-color: #f8f3f0;
  --accent-color: #F0C987;
  --background-color:#F5F3E7;
  --dark-background-color: #4C6A56;
  --text-color: #2F2F2F;
  --nav-background-color: var(--background-color);
  --nav-text-color: #33372C;
  --nav-active-background: #33372C;
  --nav-active-text: white;
  --dark-button-color: var(----nav-background-color);
  --button-color:#D9A064;
  --button-hover-color: #c9605b;
  --button-text-color: var(--primary-color);
  --border-color:var(--text-color);
  --heading-2-size : 4rem;
  --site-max-width:1200px;

}

body {
  background-color: var(--background-color);
  font-size: 18px;
  color: var(--text-color);
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
a,
button,
a span {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn.extra-width {
  padding: 13px 40px;
}
.btn:focus,
.btn:active {
  outline: inherit;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*    direction: rtl;*/
}
p {
  margin: 0 0 15px;
}
a{}
.clear {
  clear: both;
}
img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color:#000000;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
h2 {
    font-size:3rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h3 {
    font-size:1.875rem;
    line-height: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h4 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color:var(--dark-background-color);
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.375rem;
    margin-bottom:30px;
}
p:last-child {
    margin-bottom: 0px;
}
.text {
    color: var(--text-color);
}

p{
  margin: 0 0 15px;
}

.separator {
  height: 2px;
  width: 60px;
  margin: 20px auto;
  background: #000;;
}
.separator2 {
  height: 2px;
  width: 60px;
  margin:20px 0px;
  background: #000;
}
.separator3 {
  height: 2px;
  width: 50px;
  margin:10px auto;
  background: #fff;
}
.separator4 {
  height: 2px;
  width: 30px;
  margin:20px 0px;
  background: var(--dark-background-color);
}

.separator5 {
  height: 2px;
  width: 60px;
  margin: 10px 0 10px auto;
  background: #000;
}
/*section:nth-of-type(odd) {
    background-color: #F9F9F9;
}*/
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #522bac;
    border-color: #522bac;
}

.btn {
    display: inline-block;
    min-width: 180px;
    padding: .4em;
    height: 45px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size: 1.125rem;
    border-radius: 50px;
    margin-top: 20px;
    background-color: var(--dark-button-color);
    transition: .5s;
    border:1px solid var(--dark-button-color);

}
.btn:hover {
    background-color:var(--accent-color);
    color: #000;
    text-decoration: none;
    border:1px solid var(--accent-color);
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color:#000;
}

/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-top-120 {
    margin-top: 120px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #5e9a28;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #555555;
}
input::-moz-placeholder {
    color: #555555;
}
input::-ms-input-placeholder {
    color: #555555;
}


.clemo-head-title{
  margin-bottom:60px;
}
.clemo-head-title h2{
  font-size:3.125rem;
  color:#223d61;
}
.clemo-head-title p{
  font-size:1rem;
}
