<div
  class="clemo-slider-container"
  id="carousel"
  [ngStyle]="{ '--slider-opacity': sliderOpacity,
   'height': sliderHeight,
    '--button-border-radius': buttonBorderRadius,
    '--subtitle-size': subtitleSize ,
    '--subtitle-weiight': subtitleWeight}"
>
  <div
    *ngFor="let slide of slides; let i = index"
    [class.clemo-active]="i === currentSlide"
    class="clemo-slides clemo-single-home-slider"
  >
    <!-- Background Image -->
    <div
      class="clemo-home-overlay"
      [ngStyle]="{
        background:
          'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' +
          slide.backgroundImage +
          ')',
        'background-size': 'cover',
        'background-position': 'center',
        'background-repeat': 'no-repeat'
      }"
    ></div>

    <!-- Slide Content -->
    <div class="clemo-main-home" *ngIf="slide.title?.trim()">
      <h1>{{ slide.title }}</h1>
      <div class="clemo-separator"></div>
      <h2 class="clemo-subtitle" [ngStyle]="{ 'font-size': subtitleSize , 'font-weight': subtitleWeight}" [innerHTML]="slide.subtitle"></h2>

      <!-- Dynamic Buttons -->
      <div class="clemo-home-btn">
        <ng-container *ngFor="let button of slide.buttons">
          <a
            [routerLink]="button.link"
            [ngClass]="{
              'clemo-btn': !button.outline,
              'clemo-btn-outline': button.outline
            }"
            [ngStyle]="{ 'border-radius': buttonBorderRadius }"
            routerLinkActive="active"
          >
            {{ button.text }}
          </a>
        </ng-container>
      </div>
      <div class="mouse-scroll">
        <div class="mouse">
          <div class="scroll"></div>
        </div>
        <p>Scroll down</p>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <div
  class="clemo-slider-navigation"
  [ngClass]="{ 'bottom-nav': navigation === 'bottom' }">

  <div
    *ngFor="let slide of slides; let i = index"
    [class.clemo-active]="i === currentSlide"
    class="clemo-nav-item"
    [ngClass]="{ 'line-style': navigation === 'bottom' }"
    (click)="navigateToSlide(i)">
  </div>
</div>

<!-- Side Buttons (Conditional) -->
<button
  *ngIf="sideButtons"
  class="carousel-control-prev hh-prev"
  type="button"
  (click)="prevSlide()"
  data-bs-target="#heroCarousel"
  data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>

<button
  *ngIf="sideButtons"
  class="carousel-control-next hh-next"
  type="button"
  (click)="nextSlide()"
  data-bs-target="#heroCarousel"
  data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>


</div>
