.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
}

.cta-button,
.cta-link {
  margin-top: 10px;
  text-decoration: none;
  color: inherit;
}

.cta-link {
  text-decoration: underline;
}


/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .cta-container h2 {
    font-size: 1.75rem; /* Slightly smaller heading for tablets */
  }

}

@media (max-width: 480px) {
  .cta-container {
    padding: 15px; /* Reduce padding for very small screens */
    text-align: center; /* Maintain alignment */
  }

  .cta-container h2 {
    font-size: 1.5rem; /* Smaller heading for very small screens */
  }

}
