.services-container {
  text-align: center;
  padding: 2rem;
  background-color: var(--dark-background-color);
  color: var(--primary-color);
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
}


.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.service-item i {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.service-title {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}



/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .services-grid {
    gap: 1.5rem; /* Reduce gap further for compact layout */
  }

  .service-item {
    max-width: 100%; /* Allow full width on smaller screens */
    font-size: 1.25rem; /* Scale down font size */
  }

  .service-item i {
    font-size: 2.5rem; /* Scale down icon size */
  }

  .service-title {
    font-size: 1.1rem; /* Adjust title font size */
  }
}

@media (max-width: 480px) {
  .services-container {
    padding: 1.5rem 1rem; /* Further reduce padding for very small screens */
  }

  .services-title {
    font-size: 1.5rem; /* Scale down section title */
    margin-bottom: 1rem;
  }

}

