.hero-contact {
  background-image: url('/assets/splash2.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent overlay */
  color: white;
  /* text-align: center; */
  font-family: 'Playfair Display', serif; /* Elegant font */
}

.hero-overlay h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.contact-info {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-item {
  flex: 1 1 45%;
  margin-bottom: 20px;
}

.contact-form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.button:hover {
  background-color: #45a049;
}
/* Map Section Styling */
.map-section {
  margin-bottom: 50px;
}

.map-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .info-item {
    flex: 1 1 100%;
  }

  .hero h1 {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.5em;
  }
}
