<section class="services-section">
  <div class="section-heading">
    <span class="section-title-main">Our</span>
    <span class="section-title-highlight">Services</span>
  </div>
  <p class="section-description">
    Home Care From Trained Professionals
  </p>
  <div class="services-container">
    <div *ngFor="let service of services" class="service-item">
      <i [ngClass]="service.icon" class="service-item-icon"></i>
      <h3 class="service-item-title">{{ service.title }}</h3>
      <div class="service-item-description">
        <p>{{ service.description }}</p>
      </div>

    </div>
  </div>
</section>
