.services-section {
  background-color: var(--dark-background-color);
  padding: 50px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

.section-title-main {
  color: var(--primary-color);
}

.section-title-highlight {
  color: var(--accent-color);
}

.section-description {
  color: var(--primary-color);
  margin-bottom: 40px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .service-item h3 {
    font-size: 1.2em;
  }

  .service-item p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .services-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .service-item {
    margin-bottom: 20px;
  }

  .service-item h3 {
    font-size: 1.1em;
  }

  .service-item p {
    font-size: 14px;
  }

  .service-item i {
    font-size: 1.8em;
  }
}

.service-item {
  text-align: center;
  color: var(--primary-color);
}

.service-item i {
  font-size: 2em;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.service-item h3 {
  font-size: 1.5em;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.service-item p {
  color: var(--primary-color);
  font-size: 16px;
}
