<nav class="navbar_">
  <div class="navbar-container">
    <div class="logo" >
      <a href="#"  (click)="navigateTo('home')">
      <img class="logoImage" *ngIf="business?.logoImage" [src]="business?.logoImage" alt="Business Logo" >
    </a>
    </div>
  <div class="menu-icon" (click)="toggleMenu()">
      <div class="bar1" [ngClass]="{'open-bar1': menuOpen}"></div>
      <div class="bar2" [ngClass]="{'open-bar2': menuOpen}"></div>
      <div class="bar3" [ngClass]="{'open-bar3': menuOpen}"></div>
    </div>
    <ul class="nav-menu" [ngClass]="{'active': menuOpen}">
        <li class="nav-item" (click)="navigateTo('home')">Home</li>
        <li class="nav-item" (click)="navigateTo('services')">Services</li>
        <li class="nav-item" (click)="navigateTo('about-us')">About Us</li>
        <li class="nav-item" (click)="navigateTo('gallery')">gallery</li>
        <li class="nav-item" (click)="navigateTo('contact-us')">Contact</li>
    </ul>
  </div>
</nav>
