<div *ngIf="business">
  <div [ngSwitch]="layoutType">
    <ng-container *ngSwitchCase="'hh'">
  <div class="hero-contact">
    <div class="hero-overlay">
      <h1>Our Home</h1>
      <div class="hero-subtitle">
        <p>Feel at Home: A Peek into Our Caring Environment</p>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="home-description" *ngIf="business?.sections | sectionFilter:'GalleryCenterText' as section">
      <div class="section-heading" [innerHTML]="section.sectionTitle"></div>
      <div >
        <p [innerHTML]="section.sectionContent"></p>
      </div>
    </section>

    <section class="gallery">
      <div class="section-heading">Explore Our Gallery</div>
      <div class="gallery-grid gallery-container">
        <div *ngFor="let image of images" class="gallery-item" (click)="onImageClick(image.url)">
          <img [src]="image.url" alt="Gallery Image">
        </div>
      </div>
    </section>

    <div class="cta-section about-cta">
      <div class="cta-content">
        <h2>Come Meet Our Family</h2>
        <p>We’d love to meet you! Schedule a visit and see firsthand how our caring environment feels like home.</p>
        <button type="button" class="afhBtn"  (click)="navigateToContact(business.id)">Schedule a Visit</button>
      </div>
    </div>
  </div>
    </ng-container>

    <ng-container *ngSwitchCase="'ae'">
      <app-hero></app-hero>

      <app-center-text   *ngIf="business?.sections | sectionFilter:'GalleryCenterText' as section"
      [themeType]="business.theme.themeType || ''"
      [imageURL]="section.sectionImageUrl || ''"
      [title]="section.sectionTitle || ''"
      [content]="section.sectionContent || ''"
      [showBtn]="false"></app-center-text>

      <!-- Main Gallery -->
      <section class="gallery ae-gallery">
        <div class="section-heading"><app-section-tilte [title]="'Gallery'"></app-section-tilte></div>
        <div class="gallery-grid gallery-container ae-gallery-container ">
          <div *ngFor="let image of images" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Gallery Image">
          </div>
        </div>
      </section>

      <section class="gallery ae-gallery">
        <div class="section-heading"><app-section-tilte [title]="'Lifestyle Images'"></app-section-tilte></div>
        <div class="gallery-grid gallery-container ae-gallery-container ">
          <div *ngFor="let image of lifeStyleImages" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Lifestyle Image">
          </div>
        </div>
      </section>

         <!-- Hero Images -->
      <!-- <section class="gallery">
        <div class="section-heading"><h2>Hero Images</h2></div>
        <div class="gallery-grid gallery-container">
          <div *ngFor="let image of heroImages" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Hero Image">
          </div>
        </div>
      </section> -->

      <!-- Business Images -->
      <!-- <section class="gallery">
        <div class="section-heading"><h2>Business Images</h2></div>
        <div class="gallery-grid gallery-container">
          <div *ngFor="let image of businessImages" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Business Image">
          </div>
        </div>
      </section> -->

      <!-- Lifestyle Images -->


      <!-- Employee Images -->
      <!-- <section class="gallery">
        <div class="section-heading"><h2>Employee Images</h2></div>
        <div class="gallery-grid gallery-container">
          <div *ngFor="let image of employeeImages" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Employee Image">
          </div>
        </div>
      </section> -->

      <app-testimonial-image [imageURL]="'../../../../assets/sharedAssets/istockphoto-1453597643-2048x2048.jpg'"
      [author]="business.testimonials[4].name" [text]="business.testimonials[5].quote"></app-testimonial-image>
    </ng-container>


    <ng-container *ngSwitchCase="'clemo'">
      <app-hero></app-hero>

      <app-center-text
  *ngIf="business?.sections | sectionFilter:'GalleryCenterText' as section"
  [themeType]="business.theme.themeType || ''"
  [imageURL]="section.sectionImageUrl || ''"
  [title]="section.sectionTitle || ''"
  [content]="section.sectionContent || ''"
  [showBtn]="false"
></app-center-text>

      <!-- Main Gallery -->
      <section class="gallery ae-gallery">
        <div class="section-heading">
          <app-section-tilte [title]="'Gallery'"></app-section-tilte>
        </div>
        <div class="gallery-grid gallery-container ae-gallery-container ">
          <div *ngFor="let image of images" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Gallery Image">
          </div>
        </div>
      </section>

      <section class="gallery ae-gallery">
        <div class="section-heading">
          <app-section-tilte [title]="'Lifestyle Images'"></app-section-tilte>
        </div>
        <div class="gallery-grid gallery-container ae-gallery-container ">
          <div *ngFor="let image of lifeStyleImages" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Lifestyle Image">
          </div>
        </div>
      </section>

      <app-tour-3-d *ngIf="business?.theme?.themeType === 'clemo'"></app-tour-3-d>
         <!-- Hero Images -->
      <!-- <section class="gallery">
        <div class="section-heading"><h2>Hero Images</h2></div>
        <div class="gallery-grid gallery-container">
          <div *ngFor="let image of heroImages" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Hero Image">
          </div>
        </div>
      </section> -->

      <!-- Business Images -->
      <!-- <section class="gallery">
        <div class="section-heading"><h2>Business Images</h2></div>
        <div class="gallery-grid gallery-container">
          <div *ngFor="let image of businessImages" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Business Image">
          </div>
        </div>
      </section> -->

      <!-- Lifestyle Images -->


      <!-- Employee Images -->
      <!-- <section class="gallery">
        <div class="section-heading"><h2>Employee Images</h2></div>
        <div class="gallery-grid gallery-container">
          <div *ngFor="let image of employeeImages" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Employee Image">
          </div>
        </div>
      </section> -->

      <app-testimonial-image [imageURL]="'../../../../assets/sharedAssets/istockphoto-1453597643-2048x2048.jpg'"
      [author]="business.testimonials[4].name" [text]="business.testimonials[4].quote"></app-testimonial-image>
    </ng-container>

    <ng-container *ngSwitchCase="'sb'">
      <app-hero [layoutType]="'sb'"></app-hero>

      <app-center-text
  *ngIf="business?.sections | sectionFilter:'GalleryCenterText' as section"
  [themeType]="business.theme.themeType || ''"
  [imageURL]="section.sectionImageUrl || ''"
  [title]="section.sectionTitle || ''"
  [content]="section.sectionContent || ''"
  [showBtn]="false"
></app-center-text>

      <!-- Main Gallery -->
      <section class="gallery ae-gallery">
        <div class="section-heading">
          <app-section-tilte [title]="'Small Business Websites Gallery'"></app-section-tilte>
        </div>

        <div class="gallery-grid gallery-container ae-gallery-container ">
          <div *ngFor="let image of images; let i = index" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Gallery Image" alt="{{image.title}}">
            <div *ngIf="image.title" class="image-info">
              <p><a *ngIf="image.link" href="{{image.link}}" target="_blank">{{ image.title }}</a></p>
            </div>
          </div>

        </div>
      </section>
<!--
      <app-testimonial-image [imageURL]="'../../../../assets/sharedAssets/istockphoto-1453597643-2048x2048.jpg'"
      [author]="business.testimonials[4].name" [text]="business.testimonials[4].quote"></app-testimonial-image> -->
    </ng-container>


    <ng-container *ngSwitchDefault>
      <app-hero></app-hero>
      <app-center-text
      *ngIf="business?.sections | sectionFilter:'GalleryCenterText' as section"
      [themeType]="business.theme.themeType || ''"
      [imageURL]="section.sectionImageUrl || ''"
      [title]="section.sectionTitle || ''"
      [content]="section.sectionContent || ''"
      [showBtn]="false"
      ></app-center-text>
      <section class="gallery">
        <div class="section-heading"><h2>Explore Our Gallery</h2></div>
        <div class="gallery-grid gallery-container">
          <div *ngFor="let image of images" class="gallery-item" (click)="onImageClick(image.url)">
            <img [src]="image.url" alt="Gallery Image">
          </div>
        </div>
      </section>
    </ng-container>

  <app-image-viewer-modal
    *ngIf="selectedImageUrl"
    [imageUrl]="selectedImageUrl"
    (closeModal)="onCloseModal()">
  </app-image-viewer-modal>
</div>


