<div *ngIf="business">
  <app-center-text
    *ngIf="business.sections | sectionFilter:'Gallery' : 'CenterTop' as section"
    [title]="section.sectionTitle || ''"
    [content]="section.sectionContent || ''"
    [imageURL]="section.sectionImageUrl || ''"
  ></app-center-text>

  <section class="gallery">
    <div class="section-heading"><h2>Explore Our Gallery</h2></div>
    <div class="gallery-grid">
      <div *ngFor="let image of images" class="gallery-item" (click)="onImageClick(image.url)">
        <img [src]="image.url" alt="Gallery Image">
      </div>
    </div>
  </section>

  <app-call-to-action
    [text]="'Come Visit Us!'"
    [buttonText]="'Schedule a Visit'"
    [isButton]="true"
    [bgColor]="business.theme.backgroundColor"
    [textColor]="business.theme.textColor"
  ></app-call-to-action>
</div>
