<div class="testimonials-container">
  <h1 class="clemo-head-title clemo-text-center">Clients Say’s</h1>
  <div
    class="testimonial-row"
    *ngFor="let testimonial of [currentTestimonial]; trackBy: trackByIndex"
    [@slideIn]
  >
    <div class="author" [@fadeInRight]>
      <h3 class="name">{{ testimonial.name }}</h3>
      <div class="separator5"></div>
      <p class="role">{{ testimonial.relationship }}</p>
    </div>
    <div class="feedback" [@fadeInLeft]>
      <p>{{ testimonial.quote }}</p>
    </div>
  </div>
  <div class="carousel-navigation">
    <button
      *ngFor="let testimonial of testimonials; let i = index"
      [class.active]="i === currentIndex"
      (click)="goToSlide(i)"
    >
      ●
    </button>
  </div>
</div>

