.parallax-container {
  width: 100vw; /* Ensure it spans the full viewport width */
  /* height: 300px; */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  box-sizing: border-box;
}

.stats-overlay {
  display: flex;
  gap: 150px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 150px;
  width: 100vw; /* Make the overlay stretch across the full width */
  height: 100%;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.stat .number {
  font-size: 5.5rem;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .parallax-container {
    height: auto;
    /* padding: 10px; */
    background-attachment: scroll;
  }

  .stats-overlay {
    gap: 20px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure it still spans the width */
  }

  .stat .number {
    font-size: 3rem;
  }

  .stat .label {
    font-size: 0.9rem;
  }
}
