
  <div class="clemo-container">
    <div class="">
      <div class="clemo-col-sm-12">
        <div class="clemo-head-title clemo-text-center">
          <h1>what we do?</h1>
        </div>

        <div class="clemo-main-service-area">
          <!-- Service 1 -->
          <div class="clemo-single-service-area">
            <div class="clemo-row ">
              <div class="clemo-single-service-left">
                <img src="../../../assets/sharedAssets/image_fx_(3).jpg" alt="" />
              </div>
              <div class="clemo-single-service">
                <h3>our</h3>
                <h2>story</h2>
                <div class="separator2"></div>
                <p>{{business?.businessStory}}</p>
                <a href="#" class="btn">learn more</a>
              </div>
            </div>
          </div>

          <!-- Service 2 -->
          <div class="clemo-single-service-area">
            <div class="clemo-row">
              <div class="clemo-single-service">
                <h3>our</h3>
                <h2>vision</h2>
                <div class="separator2"></div>
                <p>{{business?.vision}}</p>
                <a href="#" class="btn">learn more</a>
              </div>
              <div class="clemo-single-service-left">
                <img src="../../../assets/sharedAssets/image_fx_(1).jpg" alt="" />
              </div>
            </div>
          </div>

          <!-- Service 3 -->
          <div class="clemo-single-service-area">
            <div class="clemo-row">
              <div class="clemo-single-service-left">
                <img src="../../../assets/sharedAssets/image_fx_(2).jpg" alt="" />
              </div>
              <div class="clemo-single-service">
                <h3>our</h3>
                <h2>mission</h2>
                <div class="separator2"></div>
                <p>{{business?.mission}}</p>
                <a href="#" class="btn ">learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

